<!--<connectionStrings>
  <add name="DataContext" connectionString="data source=.\IGORSERVER; initial catalog=SensorCalibrationApp; integrated security=true;" providerName="System.Data.SqlClient" />
</connectionStrings>-->
<connectionStrings>
  <add name="DataContext" connectionString="Data Source=Config\SensorCalibrationAppDb.db" providerName="System.Data.SQLite" />
</connectionStrings>